@{
    ViewBag.Title = "About";
}


<h3>@ViewBag.Message</h3>
<address>
    Author: Xiangyu Liu (Andy)<br />
    E-mail: neulxy@gmail.com<br />
    Phone:  6402041817906 <br/>
    New Zealand<br/>
</address>
