@using ViewModels;
@model CourseListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CourseListView</title>
</head>
<body>
    <div>
        <table border="1">
            <tr>
                <th>Course ID</th>
                <th>Course Name</th>
            </tr>
            @foreach (CourseViewModel item in Model.Courses)
            {
                <tr>
                    <td>@item.CourseId</td>
                    <td>@item.CourseName</td>
                </tr>
            }
        </table>
    </div>
</body>

</html>

